$eb-blue: #428bca;
$eb-blue-dark: #2a6496;
$eb-gray: #777;
$eb-gray-light: #e5e5e5;
$eb-gray-lighter: #eeeeee;
$eb-black: #333333;

$eb-small-text-size: 13px;
$eb-content-text-size: 16px;

//see http://getbootstrap.com/css/#grid
$eb-medium-max-width: 992px;
$eb-small-max-width: 768px;
$eb-xsmall-max-width: 500px;
