@import "common";

.cc-window {
  .cc-message{
    line-height: 1.3;
    font-size: 75%;
    @media only screen and (min-width : 400px) {
      font-size: 85%;
    }
    @media only screen and (min-width : 600px) {
      font-size: 95%;
    }
  }
}