@import "common";

header.eb-header {
  padding: 20px 0 0 0;
  margin-bottom: 15px;
  div.eb-title-column {
    background: url("../img/philipphauer-logo.png") no-repeat 22px center;
  }
  .eb-title, p.eb-subtitle{
    @media (min-width: $eb-small-max-width) {
      white-space:nowrap;
    }
  }
  .eb-title {
    margin: 5px 0 0 40px;
    line-height: 40px;
    font-size: 40px;
  }
  p.eb-subtitle {
    margin: 2px 0 5px 40px;
    color: $eb-gray;
    font-size: 14px;
  }
  div.eb-search {
    text-align: right;
    button {
      color: $eb-gray;
      &.eb-dropdown-search{
        margin: 5px 0 0 0;
        width: 50px;
        height: 50px;
        background-color: white;
        font-size: 16px;
        font-weight: bold;
        &:hover, &:active, &[aria-expanded="true"] {
          background-color: $eb-gray-lighter;
        }
      }
    }
    div.eb-search-form{
      width: 270px;
    }
  }
}
