main.eb-content {
  article.eb-entry-single {
    nav#TableOfContents{
      border: 1px solid #aaa;
      width: 350px;
      @media (max-width: $eb-xsmall-max-width) {
        width: 100%;
      }
      float: right;
      margin-left: 10px;
      font-size: 95%;
      padding: 10px;
      li {
        text-align: left;
      }
      ul {
        padding-left: 0px;
        list-style: none;
        ul {
          padding-left: 15px;
          ul {
            padding-left: 30px;
          }
        }
      }
    }
  }
}
