{{ partial "header-post.html" . }}
<body>

<div class="container">
    {{ partial "title-navi.html" . }}

    <main class="row eb-content">
        <article class="eb-entry-single">
            <header>
                <h1>{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</h1>
                <p>Posted on {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
            </header>
            <section>
                {{ partial "toc.html" . }}
                {{ .Content }}
            </section>
            <footer class="eb-entry-meta">
                {{ partial "related-posts.html" . }}
                <div class="categories-tags">
                This entry was posted in
                    {{ range .Params.categories }}
                    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/" rel="category tag">{{ . }}</a>,
                    {{ end }}

                    and tagged with
                    {{ range .Params.tags }}
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a>,
                    {{ end }}
                </div>
            </footer>
        </article>
    </main>

    <aside class="eb-comments-area">
        <p class="h3-like">Comments</p>
        {{ template "_internal/disqus.html" . }}
    </aside>

    {{ partial "footer.html" . }}
</div>

</body>
</html>