{{ partial "header-post.html" . }}
<body>
<svg xmlns="http://www.w3.org/2000/svg" display="none">
    <defs>
        <symbol id="anchor" class="anchor" viewBox="0 0 24 24" fill="currentColor">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"></path>
        </symbol>
    </defs>
</svg>

<div class="container">
    {{ partial "title-navi.html" . }}

    <main class="row eb-content">
        <article class="eb-entry-single">
            <header>
                <h1>{{ .Title }}{{ if .Draft }} [DRAFT]{{end}}</h1>
                <p>Posted on {{ .Date.Format "Jan 2, 2006" }}</p>
            </header>
            <section>
              {{ partial "toc.html" . }}

              {{ .Summary }}

              {{ if and (.Params.featuredImageLarge) (.Params.featuredImageShowInContent) }}
              <p>
                <img src="{{ .Params.featuredImageLarge | absURL }}" alt="{{ .Title }}" class="featuredImageLarge">
              </p>
              {{ end }}

              {{ $contentWithoutSummary := replace .Content .Summary "" }}
              {{ $contentWithoutSummary | safeHTML }}

            </section>
            <footer class="eb-entry-meta">
                {{ partial "follow-me-on-twitter.html" . }}
                {{ partial "related-posts.html" . }}
                <div class="categories-tags">
                This entry was posted in
                    {{ range .Params.categories }}
                    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/" rel="category tag">{{ . }}</a>,
                    {{ end }}

                    and tagged with
                    {{ range .Params.tags }}
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a>,
                    {{ end }}
                </div>
            </footer>
        </article>
    </main>

    <aside class="eb-comments-area">
        <p class="h3-like">Comments</p>
        {{ partial "disqus.html" . }}
    </aside>

    {{ partial "footer.html" . }}
</div>

</body>
</html>
