<article class="eb-entry-summary">
    <header>
        <h1><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a> </h1>
        <p>Posted on {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    </header>
    <section>
        <a href="{{ .Permalink }}" rel="bookmark">
            {{ with .Params.featuredImage }}
            <img src="{{ . }}" class="eb-thumbnail">
            {{ end }}
        </a>
        {{ .Summary }}
    </section>
    <footer></footer>
</article>
