<article class="eb-entry-summary">
    <header>
        <h1><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}{{ if .Draft }} [DRAFT]{{end}}</a> </h1>
        <p>Posted on {{ .Date.Format "Jan 2, 2006" }}</p>
    </header>
    <section>
        <a href="{{ .Permalink }}" rel="bookmark">
            {{ $title := .Title -}}
            {{ with .Params.featuredImage -}}
            <img src="{{ . }}" class="eb-thumbnail" alt="{{ $title }}">
            {{- end }}
        </a>
        {{ .Summary }}
    </section>
    <footer></footer>
</article>
