<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" async></script>
<script>
	window.addEventListener("load", function(){
	window.cookieconsent.initialise({
		"palette": {
			"popup": {
				"background": "#e8eaeb",
				"text": "#4a4a4a"
			},
			"button": {
				"background": "#008DC5",
				"text": "#ffffff"
			}
		},
		"theme": "classic",
		"position": "bottom",
		"content": {
			"message": "I save information about your visit on my blog and use cookies. This data is used for statistics and advertising. This way, I can understand, what my visitors are expecting and how I can improve my blog.",
			"dismiss": "OK",
			"link": "Privacy Policy",
			"href": "/page/legal/"
		}
	})});
</script>