{{ partial "about.html" . }}

<nav class="eb-navigation">
  <p class="eb-screen-reader-text">Post Navigation</p>
  {{ if .PrevInSection -}}
  <a href="{{.PrevInSection.Permalink}}">
    <span class="glyphicon glyphicon-menu-left eb-small-icon" aria-hidden="true"></span> {{.PrevInSection.Title}}
  </a>
  {{- end }}
  {{ if .NextInSection -}}
  <a href="{{.NextInSection.Permalink}}">
    {{.NextInSection.Title}} <span class="glyphicon glyphicon-menu-right eb-small-icon" aria-hidden="true"></span>
  </a>
  {{- end }}
</nav>

<aside class="row">
  <aside class="col-md-4 eb-latest-area">
    <p class="eb-latest-title">Recent Posts</p>
    <ul>
      {{ range first 5 .Site.Pages -}}
      {{if eq .Type "post" -}}
      <li>{{ .Render "link" }}</li>
      {{- end }}
      {{ end }}
    </ul>
  </aside>

  <aside class="col-md-4 eb-latest-area">
    <p class="eb-latest-title">Categories</p>
    <ul>
      {{ range .Site.Taxonomies.categories.ByCount -}}
      <li><a href="/categories/{{ .Name | urlize }}/"  class="eb-other-link">{{ .Name | humanize }}</a> ({{ .Count }})</li>
      {{ end }}
    </ul>
  </aside>

  <aside class="col-md-4 eb-latest-area">
    <p class="eb-latest-title">Top Tags</p>
    <ul>
      {{ range first 12 .Site.Taxonomies.tags.ByCount -}}
      <li><a href="/tags/{{ .Name | urlize }}/" class="eb-other-link">{{ .Name | humanize }}</a> ({{ .Count }})</li>
      {{ end }}
    </ul>
  </aside>
</aside>

<footer class="eb-footer">
  <div class="row eb-imprint">
    <p>
      Copyright © {{ now.Format "2006" }} by Philipp Hauer | 
      <a href="/page/legal/" rel="nofollow">Imprint, Privacy Policy</a> | 
      <a href="/page/icon-contribution/" rel="nofollow">Icon Contribution</a>
    </p>
  </div>
</footer>

{{ partial "amazon-associates.html" . }}
{{ partial "cookie-consent.html" . }}
<script src="/js/mergedScripts.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

