<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
<head>
  {{ partial "header-shared.html" . }}
  <title>{{ .Title }}</title>
  <meta property="og:title" content="{{ .Title }}" />
  {{ if not (eq .Permalink "") -}}
  <link rel="canonical" href="{{ .Permalink }}"/>
  <meta property="og:url" content="{{ .Permalink }}" />
  {{- end }}
  <meta property="og:type" content="article" />
  <meta property="article:author" content="{{ .Site.Params.author.name }}" />
</head>
