<!-- this is not used, as I now display all posts at once. It's just to keep the code -->
<nav role="navigation" id="" class="eb-navigation eb-navigation-paging">
    <h1 class="eb-screen-reader-text">Post navigation</h1>
    <div class="nav-previous">
        <a href="https://blog.philipphauer.de/page/3/">
            <span class="glyphicon glyphicon-menu-left eb-small-icon" aria-hidden="true"></span> Older posts
        </a>
    </div>

    <div class="nav-next">
        <a href="https://blog.philipphauer.de/">
            Newer posts <span class="glyphicon glyphicon-menu-right eb-small-icon" aria-hidden="true"></span>
        </a>
    </div>
</nav>