<header class="eb-header">
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12 eb-title-column">
      <div class="text-muted eb-title">
        <a href="{{.Site.BaseURL}}" title="{{ .Site.Title }}" rel="home">
          {{ .Site.Title }}
        </a>
      </div>
      <p class="text-muted eb-subtitle">{{ .Site.Params.description }}</p>
    </div>
  </div>
</header>

{{ if ne (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
{{ with .Site.Params.carbonAdsCode }}
  <aside class="row eb-carbonads">
      {{ . | markdownify }}
  </aside>
{{ end }}
{{ end }}

